# Furhat/Java stuff
**/bin/
**/build
**/out
**/.gradle
**/logs
*.class
**/.idea
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# System dependent Files #
*.classpath
*.project
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
